
.thumb img {
    width:calc(100% / 5);
    aspect-ratio: 2/1;
    object-fit: cover;
}

 .activeImg img {
    max-width: 646px;
    aspect-ratio: 2/1;
    /* height: 100%; */
    object-fit: cover; 
}

.card {
    width: calc(100% / 4 * 2 );
   /*  height: 50%;  */

}